<!-- <label for="{{label}}">{{label}}</label> -->

<div class="form-group ">
<label for="{{label}}" *ngIf="normalMood">{{label}}</label>
    <div class="wrapper-input-group input-group">

      <i  *ngIf="type === 'password' && !normalMood" class="input-group-text mb-1 pi pi-lock"></i>
      <i  *ngIf="type === 'email' && !normalMood" class="input-group-text mb-1 pi pi-envelope"></i>
      <i  *ngIf="type === 'text' && !normalMood" class="input-group-text mb-1 pi pi-user"></i>
      
      <input  class="mb-1 form-control"
      [ngClass]="(controlDir && controlDir.control &&  controlDir.control.touched) ? !controlDir.control.valid ?'danger-border' : 'valid-border': null"
       [type]="type"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
      id="{{label}}"
      #input
      name="{{label}}"
      placeholder="{{label}}"

      [placeholder]="!normalMood ? label: '' "
      >

      <!-- Spinner For Check Validaty Of Email -->
      <span style="z-index: 55555;" class="email-spinner input-group-text"  *ngIf="(controlDir && controlDir.control && controlDir.control.status === 'PENDING')">
        <p-progressSpinner [style]="{width: '30px', height: '30px' }" styleClass="custom-spinner" strokeWidth="5"  animationDuration=".5s"></p-progressSpinner>
      </span>
     <!-- End-Spinner For Check Validaty Of Email -->


      <!-- Valid-Input-Value -->
      <div *ngIf="(controlDir && controlDir.control && controlDir.control.valid &&  controlDir.control.touched)"
        class="valid-input input-group-text"><i class="pi pi-check"></i></div>
      </div>
      <!-- End-Valid-Input-Value -->


    <div *ngIf="(controlDir && controlDir.control && !controlDir.control.valid &&  controlDir.control.touched)">
      <span *ngIf="controlDir.control.errors?.required" class="ml-2 text-danger"> {{label}} is required</span>
      <span *ngIf="controlDir.control.errors?.pattern" class="ml-2 text-danger">
        invalid {{label}}
        <br>
        <strong *ngIf="label === 'Password'">
          -It expects atleast 1 small-case letter,
          1 Capital letter, 1 digit, 1 special character
          and the length should be between 6-10 characters
        </strong>
      </span>
    </div>

      <div  *ngIf="(controlDir && controlDir.control && !controlDir.control.valid &&  controlDir.control.dirty)">
        <span *ngIf="controlDir.control.errors?.eamilExists" class="ml-2 text-danger">
          Email address is in use
        </span>
      </div>



      <!-- Validation Message -->
      <!-- <span class=" ml-2 text-danger"
      *ngIf="loginForm.get('email').touched &&
      loginForm.get('email').invalid &&
      loginForm.get('email').errors['required']">
        Email Is Required
      </span>

      <span class="ml-2 text-danger"
      *ngIf="loginForm.get('email').touched &&
      loginForm.get('email').invalid &&
      loginForm.get('email').errors['pattern']">
        Email Is not valid
      </span> -->


  </div>