.input-group-text{
    padding-top: 13px;
    font-size: 1.3rem;
    
}


.user-area .user-form-content .user-form .form-group .form-control{
box-shadow: 0 2px 20px 3px rgb(230 233 249 / 70%) !important;
}

.valid-border{
    border: 2px solid #01b701f0 !important;
    border-radius: 3px !important;
    border-radius: 0 3px 3px 0 !important;
}

.pi-check{
    color: #01b701f0 !important;
}
.input-group-text{
    color: #686868 !important;
}