<!-- <app-breascrumb [title]="title"></app-breascrumb> -->


<section class="user-area ptb-100">
  <div class="container">
    <!-- <div class="row my-5">
      <div class="col-12 mx-auto">
       <p>Form Status: {{loginForm.status}}</p>
       <p>email Status: {{loginForm.get('email').status}}</p>
       <p>email dirty: {{loginForm.get('email').dirty}}</p>
       <p>email touchecd: {{loginForm.get('email').touched}}</p>   
      </div>
    </div> -->

    <div class="row">
      <div class="col-12 col-md-10 col-lg-6 mx-auto">
        <div class="alert alert-danger" *ngIf="loginErrorMessage" >
          {{loginErrorMessage}}
        </div>
      </div>
    </div>
    <div class="row">

      <div class="col-12 col-md-10 col-lg-6 mx-auto">
        <div class="user-form-content log-in-50">
          <h3>Log In to Your Account</h3>


          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="row mt-4">
              <div class="col-12">
               
              </div>
              <div class="col-12">
             
                

<app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
<app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

              </div>
              <div class="col-12">
                <div class="login-action">
                  <span class="log-rem">
                    <input id="remember-2" type="checkbox">
                    <label class="mx-3">Keep me logged in</label>
                  </span>
                  <!-- <span class="forgot-login">
                    <a href="change-password.html">Forgot your password?</a>
                  </span> -->
                </div>
              </div>
              <div class="col-12">
                <button [disabled]="loginForm.invalid" [class.default-btn-dis]="loginForm.invalid" class="default-btn w-100 mb-2 mt-3" type="submit">
                  Log In
                </button>
              </div>
              <div class="col-12">
                <span class="or">Or</span>
              </div>
              <div class="col-12">
                <a href="#" class="or-login">
                  <i class="bx bxl-facebook"></i>
                  Login with Facebook
                </a>
              </div>
              <div class="col-12">
                <a href="#" class="or-login google">
                  <i class="bx bxl-google"></i>
                  Login with Google
                </a>
              </div>
              <div class="col-12">
                <p class="create">Don’t Have an Account? <a href="#">Create</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>



  </div>
</section>