<p-steps [model]="items" [readonly]="false">


    
</p-steps>
<div class="candidates-resume-content">
  <form class="resume-info">
    <h3>Company Information</h3>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <!-- <label>Company Name</label> -->
          
        

          <!-- <input class="form-control" type="text" name="First-Name"> -->
          <app-text-input [normalMood]="true" formControlName="CompanyName" [type]="'text'" [label]="'Company Name'" ></app-text-input>

        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label>Founded Date</label>
        

          <div class="">
            <p-calendar formControlName="FoundedDate" [showIcon]="true" inputId="icon"></p-calendar>
        </div>


        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label>LinkedIn Link</label>
          <input class="form-control" type="email" name="Email">
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        


        <div class="form-group">
          <label>Company Size</label>
          
          <p-dropdown  [options]="CompanySizes"  [(ngModel)]="selectedCompanySize"
          [showClear]="true" placeholder="Select Company Size">

           <ng-template let-size pTemplate="item">
               <div class="select-item">
                 <i class="flaticon-community display-7"></i>
                 <p>{{size}}</p>
               </div>
           </ng-template>
         </p-dropdown>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label>Facebook Link</label>
          <input class="form-control" type="text" name="Phone">
        </div>

      </div>
      <div class="col-lg-6 col-md-6">
        <div class="form-group">
          <label>Company Industries</label>

          <div class="">
            <p-multiSelect [options]="industries"  defaultLabel="Select Industries" optionLabel="Name" selectedItemsLabel="{0} items selected"></p-multiSelect>
          </div>

        </div>
      </div>
      
  

     

      <div class="col-lg-12">
        <div class="form-group">
          <label>Company Details</label>
         
          <p-editor formControlName="CompanyDescription" [style]="{'height':'320px'}">
            <ng-template pTemplate="header">
                <span class="ql-formats">
                    <button type="button" class="ql-bold" aria-label="Bold"></button>
                    <button type="button" class="ql-italic" aria-label="Italic"></button>
                    <button type="button" class="ql-list" aria-label="Unordered List"></button>
                </span>
            </ng-template>
        </p-editor>


        </div>
      </div>
    </div>
    
 
   
  
   
   
  </form>
</div>