<!-- <app-breascrumb [title]="title"></app-breascrumb> -->


<section class="user-area ptb-100">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-10 col-lg-6 mx-auto">
        <div class="user-form-content">
          <h3>Create an Account</h3>
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="user-form">
            <div class="row">
              <div class="col-12">
              <app-text-input formControlName="displayName" [type]="'text'" [label]="'You\'r Name'" ></app-text-input>
              </div>
              
              <div class="col-12">
                <app-text-input formControlName="email"  [label]="'Email Address' " [type]="'email'"></app-text-input>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <app-text-input formControlName="password" [type]="'password'" [label]="'Password'" ></app-text-input>

                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  
                  <app-text-input formControlName="confirmPassword" [type]="'password'" [label]="'Confirm Password'" ></app-text-input>
                
                </div>
              </div>
              <div class="col-12">

               <div class="form-group">
                  <p-dropdown  [options]="roleTypes" formControlName="role" [(ngModel)]="selectedRole"
                   [showClear]="true" placeholder="Select Account Type">

                    <ng-template let-role pTemplate="item">
                        <div class="role-item">
                          <i *ngIf="role == 'Candidate'" class="flaticon-community display-7"></i>
                          <i *ngIf="role == 'Company'" class="flaticon-organization   display-7"></i>
                          <p>{{role}}</p>
                        </div>
                    </ng-template>
                </p-dropdown>
                </div> 


              </div>
              <div class="col-12">

                <h6 class="text-danger mb-4" *ngIf="errorMessage" >
                  <!-- <li *ngFor="let err of errorMessage">
                    {{err}}
                  </li> -->

                {{errorMessage}}
                </h6>
              </div>
              <div class="col-12">
                <button  [disabled]="registerForm.invalid" class="default-btn register" type="submit">
                  Register Now
                </button>
              </div>
              <div class="col-12">
                <p class="create">Already Have an Account? <a href="#">Log In</a></p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

