<ngx-spinner >
<h4>Loading...</h4>
</ngx-spinner>

<router-outlet></router-outlet>


<!-- <script src="/assets/js/popper.min.js"></script>

<script src="/assets/js/meanmenu.min.js"></script>

<script src="/assets/js/wow.min.js"></script>

<script src="/assets/js/owl.carousel.min.js"></script>

<script src="/assets/js/nice-select.min.js"></script>

<script src="/assets/js/magnific-popup.min.js"></script>

<script src="/assets/js/jquery.mixitup.min.js"></script>

<script src="/assets/js/appear.min.js"></script>

<script src="/assets/js/odometer.min.js"></script>

<script src="/assets/js/range-slider.min.js"></script>

<script src="/assets/js/bootstrap-datepicker.min.js"></script>

<script src="/assets/js/form-validator.min.js"></script>

<script src="/assets/js/contact-form-script.js"></script>

<script src="/assets/js/ajaxchimp.min.js"></script>

<script src="/assets/js/custom.js"></script> -->
