<app-user-navbar ></app-user-navbar>



<section class="candidates-dashboard-area ptb-100">
    <div class="container">
        <div class="row">
            <!-- SideBar -->
            <!-- SideBar -->
            <div class="col-lg-4">
            <app-sidebar></app-sidebar>
        </div>
            <!-- End-SideBar -->
            <!-- End-SideBar -->


            <!-- Main  Section -->
            <!-- Main  Section -->
            <div class="col-lg-8">
               
                <router-outlet></router-outlet>

            </div>
            <!-- End-Main  Section -->
            <!-- End-Main  Section -->

        </div>
    </div>
</section>

<app-user-footer ></app-user-footer>